# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build folders
bin/
dist/

# Coverage
coverage.out

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment
.env

# Local database
data/*.db
data/*.sqlite
data/*.sqlite3